server = "irc.freenode.net"
port = 6667
channel = "#testtesttest"
nick = "haskman"
timeout = 130
msghandlers = ["greeter", "welcomer", "messagelogger", "songsearch", "auth", "nicktracker"]

songsearch {
  tinysong_apikey = "xxxyyyzzz"
}

messagelogger {
  logdir = "./logs/"
}

nicktracker {
  refresh_interval = 60
}
