server = "irc.freenode.net"
port = 6667
channel = "#testtesttest"
nick = "haskman"
password = "xxxsss"
timeout = 130
loglevel = "INFO"

msghandlers = [ "greeter"
              , "welcomer"
              , "messagelogger"
              , "songsearch"
              , "auth"
              , "nicktracker"
              , "tell"]

songsearch {
  tinysong_apikey = "xxxyyyzzz"
}

messagelogger {
  logdir = "./logs/"
}

nicktracker {
  refresh_interval = 60
}
